<div class="random-chooser">

    <div class="random-chooser__header">
        <img class="random-chooser__logo"
            src="../../assets/images/logo.svg"
            alt="Random Chooser Logo"/>


        <button class="random-chooser__settings-btn"
                type="button">
                <i class="random-chooser__settings-btn-icon"></i>
        </button>
    </div>

    
    <div *ngIf="isDevSelected"
         class="random-chooser__current-dev-container">

        <div class="random-chooser__current-dev-container__cropper">
            <img class="random-chooser__current-dev-container__dev-picture"
                [src]="currentImage" 
                alt="Current developer picture">
        </div>
    </div>

    <div *ngIf="!isDevSelected"
         class="random-chooser__current-dev-container">

        <img class="random-chooser__current-dev-container__dev-picture-placeholder"
             src="../../assets/images/picture_placeholder.svg" 
             alt="No Picture Placeholder">
    </div>

    <div class="random-chooser__controls">


        <button class="random-chooser__add-btn"
                type="button"
                (click)="onGoToDevListPage()">

            <i class="random-chooser__add-btn-icon"></i>

            <span *ngIf="!existsTeam"
                  class="random-chooser__add-btn__tooltip">
                {{ noTeamMessage }}
            </span>

        </button>

        <button class="random-chooser__spin-btn"
                type="button"
                (click)="onChooseDev()">

            <i class="random-chooser__spin-btn-icon"></i>

            <span *ngIf="existsTeam && !actualTeamMember"
                  class="random-chooser__spin-btn__tooltip">
                {{ startMessage }}
            </span>

        </button>

        <div class="random-chooser__timer-area">

            <app-timer [ngClass]="{
                'app-timer--retracted': !showTimer,
                'app-timer--expanded': showTimer
                }">
            </app-timer>

            <button type="button" 
                    (click)="showTimer = !showTimer"
                    class="random-chooser__timer-btn"
                    [ngClass]="{'random-chooser__timer-btn--active': showTimer}">
                <i class="random-chooser__timer-btn-icon"></i>
            </button>
        </div>

    </div>
</div>

<!-- *ngIf="showTimer" -->