<div class="random-chooser">

    <div class="random-chooser__header">
        <a href="localhost:4200">
            <img class="random-chooser__logo"
                src="../../assets/images/logo.svg"
                alt="Random Chooser Logo"/>
        </a>

        <div *ngIf="isDevSelected" 
             class="random-chooser__dev-name-display">
            <span class="random-chooser__current-dev-container__dev-name">
                {{ actualTeamMember.firstName }} {{ actualTeamMember.lastName }}
            </span>
        </div>

        <button class="random-chooser__settings-btn"
                type="button">
                <i class="random-chooser__settings-btn-icon"></i>
        </button>
    </div>
    
    <div *ngIf="isDevSelected"
         class="random-chooser__current-dev-container">
         
        <!-- Keeping this in case, until we make a picture cropper -->
        <!-- <span class="random-chooser__current-dev-container__dev-picture"
            [ngStyle]="{'background-image' : actualTeamMember.picture ?
                                             'url(' + actualTeamMember.picture + ')' :
                                             'url(../assets/images/logo.svg)'
            }"
            [ngClass]="{'random-chooser__current-dev-container__dev-picture--bg-small' : !actualTeamMember.picture}">
        </span> -->

        <img class="random-chooser__current-dev-container__dev-picture"
             [ngClass]="{'random-chooser__current-dev-container__dev-picture--square' : !actualTeamMember.picture}"
             [src]=" actualTeamMember.picture ? this.sanitizer.bypassSecurityTrustUrl(actualTeamMember.picture) : '../assets/images/logo.svg' " 
             alt="Current dev picture"/>

    </div>

    <div *ngIf="!isDevSelected"
         class="random-chooser__current-dev-container">

        <img class="random-chooser__current-dev-container__dev-picture-placeholder"
             src="../../assets/images/picture_placeholder.svg" 
             alt="No Picture Placeholder"/>
    </div>

    <div class="random-chooser__controls">


        <button class="random-chooser__add-btn"
                type="button"
                (click)="onGoToDevListPage()">

            <i class="random-chooser__add-btn-icon"></i>

            <span *ngIf="!existsTeam"
                  class="random-chooser__add-btn__tooltip">
                {{ noTeamMessage }}
            </span>

        </button>

        <button class="random-chooser__spin-btn"
                type="button"
                (click)="onChooseDev()">

            <i class="random-chooser__spin-btn-icon"></i>

            <span *ngIf="existsTeam && !actualTeamMember"
                  class="random-chooser__spin-btn__tooltip">
                {{ startMessage }}
            </span>

        </button>

        <div class="random-chooser__timer-area">

            <app-timer [ngClass]="{
                'app-timer--retracted': !showTimer,
                'app-timer--expanded': showTimer
                }">
            </app-timer>

            <button type="button" 
                    (click)="showTimer = !showTimer"
                    class="random-chooser__timer-btn"
                    [ngClass]="{'random-chooser__timer-btn--active': showTimer}">
                <i class="random-chooser__timer-btn-icon"></i>
            </button>
        </div>

    </div>
</div>