<div class="edit-team__header">
  <button
    class="edit-team__back-btn"
    type="button"
    (click)="onGoToDevListPage()"
  >
    <i class="edit-team__back-btn-icon"></i>
  </button>
</div>

<div class="edit-team__main-area">
  <div class="edit-team__form-area">
    <h2 class="edit-team__form-title">Add a new team member</h2>

    <form class="edit-team__add-dev-form">
      <div class="edit-team__add-dev-form__fields">
        <div class="edit-team__add-dev-form__text-fields">
          <div class="edit-team__add-dev-form__input-field">
            <label for="fName" class="edit-team__add-dev-form__input-label">
              First name :
            </label>
            <input
              id="fName"
              type="text"
              class="edit-team__add-dev-form__input"
              placeholder="First name"
              [(ngModel)]="firstName"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="onAddingNewTeamMember()"
            />
          </div>

          <div class="edit-team__add-dev-form__input-field">
            <label for="lName" class="edit-team__add-dev-form__input-label">
              Last name :
            </label>

            <input
              id="lName"
              type="text"
              class="edit-team__add-dev-form__input"
              placeholder="Last name"
              [(ngModel)]="lastName"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="onAddingNewTeamMember()"
            />
          </div>
        </div>
        <div class="edit-team__add-dev-form__input-field">
          <div class="edit-team__add-dev-form__input-wrap">
            <label
              for="filePicker"
              class="edit-team__add-dev-form__file-input-btn"
            >
            <img [src]="this.sanitizer.bypassSecurityTrustUrl(picture)" alt="dev picture">
            </label>
            <input
              id="filePicker"
              class="edit-team__add-dev-form__file-input"
              type="file"
              (change)="handleFileSelect($event)"
            />
          </div>
        </div>
      </div>
      <div class="edit-team__add-dev-form__controls">
        <button class="edit-team__add-dev-form__add-btn"
                (click)="onAddingNewTeamMember()">
            <i class="edit-team__add-btn-icon"></i>
        </button>
        <button class="edit-team__add-dev-form__clear-btn"
                (click)="onClearNewTeamMember()">
            <i class="edit-team__clear-btn-icon"></i>
        </button>
      </div>
    </form>
  </div>


  <!-- lists existing members of the team -->
  <div class="edit-team__list-area">

    <h2 class="edit-team__team-title">Your team</h2>
    <div class="edit-team__team-list">
      <div *ngFor="let member of teamMembers"
          class="edit-team__team-list__item">

        <button class="edit-team__team-list__delete-btn"
                (click)="removeItem(member)">
              <i class="edit-team__team-list__delete-btn-icon"></i>
        </button>

        <span class="edit-team__team-list__name-label">
          {{ member.firstName }} {{ member.lastName }}
        </span>

        <i class="edit-team__team-list__member-picture"
            [ngStyle]="{'background-image': member.picture ? 
                            'url(' + member.picture + ')' : 
                            'url(../../assets/images/logo.svg)'}"
            [ngClass]="{'edit-team__team-list__member-picture--bg-small' : !member.picture}">
        </i>
      </div>
    </div>
  </div>
</div>