@import "../shared/styles/colors";
@import "../shared/styles/icon-btn-round.mixin";
@import "../shared/styles/btn-scale.mixin";

:host {
    height: 100%;
    min-height: 0;
}

.edit-team {

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__back-btn {
      @include icon-btn-round(
        2.5rem,
        url(../../../assets/images/back-arrow-icon.svg)
      );
      @include btn-scale;
    }

    &__main-area {
        display: flex;
        flex-direction: column;
    }

    &__form-area,
    &__list-area {
        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
    }

    &__form-title {
        color: $purple-primary;
        text-align: center;
    }

    &__add-dev-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 10rem;
        padding: .4rem .4rem .4rem 2.5rem;
        margin-bottom: 2rem;

        border-radius: 0.2rem;
        background-color: $purple-filter;
    }
}

.edit-team__add-dev-form {

    &__fields {
        display: flex;
    }

    &__text-fields {
        flex: 1 1 auto;
    }

    &__input {
        flex: 1 1 auto;

        padding: 0.2rem;

        border: none;
        border-radius: 0.2rem;
        background-color: $gray-secondary;

        color: $purple-primary;
        outline: none;

        &-field {
            flex: 0 0 8rem;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 1rem;
        }

        &-label {
            width: 5.5rem;
            color: $gray-secondary;
        }

        &-wrap {
            position: relative;
        }
    }

    &__file-input {
        position: absolute;
        z-index: -1;
        top: 10px;
        left: 8px;
        font-size: 17px;
        color: #b8b8b8;
    }

    &__file-input-btn {
        @include btn-scale;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 3.7rem;
        height: 3.7rem;

        border-radius: 2rem;
        background-color: $gray-secondary;

        overflow: hidden;
        cursor: pointer;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__controls {
        flex: 0 0 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__add-btn {
        @include btn-scale;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;

        border: none;
        border-radius: 0.2rem;

        background-color: $blue-primary;
        
        outline: none;

        & i {
            display: block;
            width: 85%;
            height: 85%;
            background: url(../../assets/images/plus-icon.svg);
            background-repeat: no-repeat;
        }
    }

    &__clear-btn {
        @include btn-scale;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;

        border: none;
        border-radius: 0.2rem;

        background-color: $purple-primary;

        outline: none;

        & i {
            display: block;
            width: 85%;
            height: 85%;
            background: url(../../assets/images/cancel-icon.svg);
            background-repeat: no-repeat;
        }
    }
}

.edit-team {

    &__team-title {
        text-align: center;
        color: $purple-primary;
    }

    &__team-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 25rem;
        min-height: 0;
        padding: 0.5rem 1rem;

        border-radius: 0.2rem;
        background-color: $purple-filter;

        overflow-y: scroll;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            padding: 0 0 0 1.3rem;
            margin-bottom: 0.5rem;

            border-radius: 2.5rem;
            background-color: $gray-secondary;
        }

        &__delete-btn {
            
            flex: 0 0 2rem;

            @include btn-scale;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 2rem;
            height: 2rem;
            margin-right: 1rem;

            border: none;
            border-radius: 1rem;

            background-color: $purple-primary;

            outline: none;

            & i {
                display: block;
                width: 65%;
                height: 65%;
                background: url(../../assets/images/cancel-icon.svg);
                background-repeat: no-repeat;
            }
        }

        &__name-label {
            flex: 1 0 6rem;

            padding: 0 1rem;

            font-size: 1.4rem;
            text-align: center;
            color: $purple-primary;
        }

        &__member-picture {
            
            flex: 0 0 5rem;

            width: 5rem;
            height: 5rem;
            border-radius: 2.5rem;
            background-color: $blue-primary;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &--bg-small {
                background-size: 75%;
            }
        }
    }

}

@media only screen and (min-width: 950px) {
    .edit-team {
        &__main-area {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            height: 100%;
        }

        &__form-area,
        &__list-area {
            width: 45%;
            height: 100%;
        }

        &__form-area {
            justify-content: center;
        }

        &__team-list {
            height: auto;
            max-height: 90%;
        }


    }
}



// (  list scrollbar  )
.edit-team__team-list {
    
    &::-webkit-scrollbar {
        width: .6rem;
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: $purple-primary;
        border-radius: .4rem;
    }
}