#del_btn {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: red;
}

#name {
    display: inline;
    text-align: left;
}

.teamMembers {
    width: 200px;
}

#container {
    width: 400px;
}

.card1 {
    background-color: lightgray;
}

