@mixin icon-btn-round(
    $size, 
    $icon-url, 
    $background-color : transparent,
    $background-color-hv : $purple-filter
    ){

    flex: 0 0 auto;
    position: relative;
    width: $size;
    height: $size;
    padding: 0.4rem;
    border: none;
    border-radius: 50%;
    background-color: $background-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    & i {
        display: block;
        width: 100%;
        height: 100%;
        background: $icon-url;
        background-repeat: no-repeat;
    }

    &:hover {
        background-color: $background-color-hv;
    }

    &:focus {
        outline: none;
    }
}