@import "../shared/styles/colors";
@import "../shared/styles/icon-btn-round.mixin";
@import "../shared/styles/custom-scroll.mixin";

.dev-list {

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__back-btn {
      @include icon-btn-round(
        2.5rem,
        url(../../../assets/images/back-arrow-icon.svg)
      );
    }
    
    &__manage-team-btn {
      @include icon-btn-round(
        2.5rem,
        url(../../../assets/images/tool-icon.svg)
        );
    }
      
    &__intro-msg {
      margin: 1rem 0;

      text-align: center;
      color: $purple-primary;
    }

    &__team-state-msg-area {
      min-height: 1.4rem;

      color: $gray-secondary;
    }

    &__team-state-msg__logo {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.5rem;
      
      background: url(../../assets/images/picture_placeholder.svg);
      background-repeat: no-repeat;
    }

    &__lists-area {
    display: flex;
    align-items: flex-start;
    }

    &__present-list-area,
    &__absent-list-area {
      flex: 1 1 25rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: .4rem;

      border-radius: .2rem;
      background-color: $purple-filter;

      color: $purple-primary;

      & h4 {
        color:$gray-secondary;
      }
    }

    &__present-list-area {
      margin: 0 1rem 0 0;
    }

    &__present-list,
    &__absent-list {
     
      display: block;

      width: 100%;
      height: 100%;
      min-height: 2.9rem;
      max-height: 20rem;
      padding: .4rem;

      border-radius: .2rem;
      background-color: $blue-primary;

      overflow-y: auto;

      @include custom-scroll();
    }

    &__present-list__item,
    &__absent-list__item {
      position: relative;

      padding: .4rem;
      margin: 0 0 0.4rem 0;

      text-align: center;

      border-radius: 0.2rem;
      background-color: lighten($gray-secondary, 3);

      cursor: grab;

      &:last-child {
        margin: 0;
      }

      &:active {
        cursor: grabbing;
      }

      &__grab-icon {
        position: absolute;
        top: 0.7rem;
        left: 0.7rem;

        display: inline-block;
        width: .75rem;
        height: .75rem;
        background: url(../../assets/images/grab-icon.svg);
        background-repeat: no-repeat;
      }
    }
}

@media only screen and (max-width: 800px) {
  .dev-list {

    &__lists-area {
      flex-direction: column;
    }

    &__present-list-area,
    &__absent-list-area {
      flex: 0 0 15rem;
      width: 100%;
      min-height: 2.9rem;
    }

    &__present-list-area {
      margin: 0 0 1rem 0;
    }
  }
}