.container{
    margin: 0 20px;  
  }
  .example-form-field {
    width: 100%;
    button {
      border: none;
    }
  }

mat-list {
  background: rgba(0, 139, 139, 0.7);
  border: 2px solid black;
}