<mat-card class="container">
  <h1>Who will be present in your next meeting ?</h1>
  <p *ngIf="activeTeamMembers.length < 1">No team member present on the meeting. Add at least one team member!</p>
  <p *ngIf="activeTeamMembers.length == 1">A meeting alone will be very boring. Add at least another team member to feel less lonely.</p>
  <p *ngIf="inactiveTeamMembers.length < 1"> All your team members are present on the meeting. Nice !</p>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Presents on the meeting</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="activeTeamMembers"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of activeTeamMembers" cdkDrag>
          {{item.firstName}} {{item.lastName}}
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Absents of the meeting</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="inactiveTeamMembers"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inactiveTeamMembers" cdkDrag>
          {{item.firstName}} {{item.lastName}}
        </div>
      </div>
    </div>
  </div>

  <button mat-button color="primary"  (click)="onGoToRandomChooserPage()">Return to Random Chooser</button>
  <button mat-button color="primary"  (click)="onGoToEditYourTeamPage()">Edit your team</button>

</mat-card>