@import "./app/shared/styles/colors";
@import "./app/shared/styles/custom-scroll.mixin";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

html,
body {
    overflow: hidden;
    background-color: $blue-primary;
}

body {
    padding: 1rem;
    @include custom-scroll();
}

.app-root__loading-image {
    // Sets the top-left corner of the image in the center
    // of the parent container.
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;

    // Translates the image to half its size, up and left, so
    // the center is bang in the middle of the parent container
    // (because of the previous properties above).
    transform:translate(-50%,-50%);
}